<div class="mt-5 container">
	<div class="row justify-content-md-center">
		<div class="col-sm-12 col-md-9">
			<div class="card text-center">
				<div class="card-header">Quote your next trip</div>
				<div class="card-body">
					<h2 class="card-title">Entering only the origin and your destination</h2>
					<p class="card-text">
						We will tell you how much your trip will cost you in the tolls, during your
						course.
					</p>
					<a routerLink="/budget" class="btn btn-warning">go to budget</a>
				</div>
				<div class="card-footer text-muted">
					<div class="container">
						<img class="img-fluid" src="../../assets/svg/car.svg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
